.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

form {
    width: 100%;
    margin: 0;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #429775;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #357d65;
}

.toggle-text {
    text-align: center;
    margin-top: 10px;
}

.toggle-link {
    color: #4194e4;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
